#extra-price-table-12.extra-price-table2 .panel-info {
    margin-bottom: 0px;
    border-color: #2aa8fe;
    border-radius: 0px;
}

#extra-price-table-12.extra-price-table2 .panel-info .panel-heading {
    border-radius: 0px;
    background: #f54c53;
    border-color: #f54c53;
}

#extra-price-table-12.extra-price-table2 .panel-info .panel-footer {
    padding: 20px 0;
    background: #fff;
}

#extra-price-table-12.extra-price-table2 .panel-info .panel-footer .btn-primary {
    background-color: #f54c53;
    border-color: #f54c53;
    color: #ffffff;
    font-weight: bold;
    border-radius: 3px;
    padding: 8px 12px 6px;
}

#extra-price-table-12.extra-price-table2 .col-sm-3:nth-child(2) .panel-info .panel-footer .btn-primary,
#extra-price-table-12.extra-price-table2 .col-sm-3:nth-child(4) .panel-info .panel-footer .btn-primary {
    background: #23AF4C;
    color: #fff;
    border: 1px solid #23AF4C;
}

#extra-price-table-12.extra-price-table2 .panel-info .panel-heading h2,
#extra-price-table-12.extra-price-table2 .panel-info .panel-footer h2 {
    line-height: 40px;
    margin-top: 0;
}

#extra-price-table-12.extra-price-table2 .col-sm-3:nth-child(2) .panel-info .panel-heading,
#extra-price-table-12.extra-price-table2 .col-sm-3:nth-child(4) .panel-info .panel-heading {
    background: #ef4035;
    border-color: #ef4035;
}

#extra-price-table-12.extra-price-table2 ul {
    margin: 0px;
    padding: 0px;
}

.top_nofi_cosan {
    display: block !important;
}

.hide_notice {
    height: 0;
        opacity: 0;
        visibility: hidden;
        padding:0;
    -moz-transition: all 0.5s ;
    -o-transition: all 0.5s ;
    -webkit-transition: all 0.5s;
    -webkit-transition-delay: 0s;
    transition: all 0.5s;
}

#extra-price-table-12.extra-price-table2 li {
    margin: 0px;
    padding: 10px 20px;
    list-style-type: none;
    border-bottom: 1px dotted #ddd;
    text-align: left;
}

#extra-price-table-12.extra-price-table2 li:last-child {
    border-bottom: 0;
}

#extra-price-table-12.extra-price-table2 .most-popular {
    top: 0px;
    z-index: 2;
}

#extra-price-table-12.extra-price-table2 .most-popular li {
    padding: 15px 20px;
}

#extra-price-table-12.extra-price-table2 hr {
    width: 5%;
    border-color: #000;
}

#extra-price-table-12.extra-price-table2 .col-sm-3 .panel-info {
    margin-left: -10px;
    margin-right: -10px;
    border-color: #ddd;
}

#extra-price-table-12.extra-price-table2 ul li img {
    vertical-align: middle;
    margin-right: 10px;
}

@media only screen and (max-width: 992px) {
    #extra-price-table-12.extra-price-table2 .col-sm-3 {
        width: 50%;
        margin-bottom: 20px;
        display: inline-block;
        vertical-align: top;
    }
}

@media only screen and (max-width: 768px) {
    #extra-price-table-12.extra-price-table2 .most-popular {
        top: 0px;
    }
    #extra-price-table-12.extra-price-table2 .col-sm-3 {
        width: 49%;
    }
}

@media only screen and (max-width: 550px) {
    #extra-price-table-12.extra-price-table2 .col-sm-3 {
        width: 100%;
    }
    #extra-price-table-12.extra-price-table2 .col-sm-3 .panel-info {
        margin-left: 0px;
        margin-right: 0px;
    }
}

}

.tab-content {
    border: none;
}

#extra-price-table-12 img{
    -webkit-backface-visibility: hidden; 
    -ms-transform: translateZ(0); /* IE 9 */
    -webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
    transform: translateZ(0);
}

.trai{
    background: #f3f3f3;
    padding: 0;
}
.chucnang{
    text-align: center;
    text-transform: uppercase;
    font-size: 21px;
    font-weight: bold;
    padding: 15px;
}
.iconchucnang{
    text-align: center;
    padding-bottom: 15px;
}
.iconchucnang img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.tieudetron{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 25px 0px 0px 25px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 0;
    margin-left: 15px;
    position: relative;
}
.tieudetron:nth-child(2n){
    background: #ececec;
}
.tieudetron img{
    width: 30px;
    height: 30px;
}
.tieudetron > div{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
}
.tieudenho img {
    vertical-align: middle;
    width: 20px;
    height: 20px;
}
.tieudenho {
    padding: 13px 10px;
    background: #f3f3f3;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    height: 56px;
}
.tieudenho:nth-child(2n) {
    background: #ececec;
}

.bodynendo .tieudenho{
    background: #ececec;
}
.bodynendo .tieudenho:nth-child(2n) {
    background: #f3f3f3;
}

.tieudenho .backtrang_img{
    width: 30px;
    height: 30px;
    display: inline-block;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 50%;
}
.tieudenho span.spanchui{
    padding: 0 0 0 10px;
    font-weight: bold;
    font-size: 15px;
}
.dangkyngay{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: #ececec;
    padding: 30px 0;
    height: 96px;
}
.dangkyngay .backtrang_img{
    width: 35px;
    height: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 50%;
}
.dangkyngay .backtrang_img img{
    width: 25px;
    height: 25px;
}
.dangkyngay span.spanchui{
    padding: 0 0 0 10px;
    font-weight: bold;
    font-size: 21px;
    text-transform: uppercase;
}
.divkhiiconihover{
        /* display: none; */
    display: block;
    position: absolute;
    background-color: #0088ff;
    color: #fff;
    padding: 15px;
    z-index: 1;
    bottom: 100%;
    font-size: 12px;
    font-weight: normal;
    text-transform: none;
    /* height: 0; */
    padding: 15px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.7s;
    border-radius: 5%;;
}
.tieudetron:hover .divkhiiconihover{
    /* display: block; */
    visibility: visible;
    opacity: 1;
}
i.fa.fa-info-circle{
    transition: all 0.3s;
    font-size: 14px;
}
.tieudetron:hover i.fa.fa-info-circle{
    color: #2aa8fe;
}
.tieudenho:hover .divkhiiconihover{
    /* display: block; */
    visibility: visible;
    opacity: 1;
}
.tieudenho:hover i.fa.fa-info-circle{
    color: #2aa8fe;
}
.phai{
    padding-left: 5px;
    padding-right: 0px;
}
.phai .col-sm-3 {
    padding-right: 5px;
    padding-left: 5px;
}
.nendo{
    background-image: url(https://www.sapo.vn/Themes/Portal/Default/StylesV2/images/home/price/bg-package-pos.png);
    background-size: 220px 51px;
    background-repeat: no-repeat;
    background-position: bottom;
    padding-top: 0;
    text-align: center;
    overflow: hidden;
    position: relative;
    height: 17.6%;
}
.nendo.nendokhacbiet{
    background: #bf0000;
}
.chuhot{
    background: #e4b421;
    color: #fff;
    display: block;
    width: 80px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    transform: rotate(45deg);
    position: absolute;
    top: 10px;
    right: -20px;
    z-index: 1;
}
.chunew{
    background: #fec61e;
    color: #fff;
    display: block;
    width: 80px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    transform: rotate(45deg);
    position: absolute;
    top: 10px;
    right: -20px;
    z-index: 1;
}
.tieudedo{
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    padding: 5px 0;
    background: rgb(0, 136, 255);
}
.icontieudedo {
    padding: 15px 0;
}
.icontieudedo img{
    width: 91px;
    height: 91px;
    border-radius: 50%;
}
.giagoiweb{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 1000;
    margin-top: 26%;
    padding: 10px 0px;
}
.giagoiweb .giacu{
    background: #2aa8fe;
    color: #fff;
    padding: 5px 10px;
    border-radius: 30px 0 0 30px;
    text-decoration: line-through;
}
.giagoiweb .giacu.giacu_goi_business{
    text-decoration: none;
    border-radius: 30px;
}
.giagoiweb .giamoi{
    background: #eab10d;
    padding: 5px 10px;
    border-radius: 0 30px 30px 0;
    color:#fff;
}
.bodynendo .tieudenho.bolddamchu span.spanchui{
    font-weight: 1000;
}
.bodynendo .tieudenho{
    justify-content: center;
    text-align: center;
}
.bodynendo .tieudenho span.spanchui a{
    color: #337ab7;
    font-weight: bold;
}
.bodynendo .tieudenho span.spanchui a:hover{
    color: #f54c53;
}
.bodynendo .tieudenho span.spanchui img{
    width: 18px;
    height: 19px;
}
.bodynendo .tieudenho span.spanchui{
    padding-left: 0;
    text-align: center;
    font-weight: normal;
}
.bodynendo .dangkyngay span.spanchui{
    padding: 0;
}
.bodynendo .dangkyngay span.spanchui a{
    color: #fff;
    padding: 7px 15px;
    background: #f54c53;
    border-radius: 5px;
    font-size: 18px;
}
.bodynendo .dangkyngay span.spanchui a:hover{
    background: #2aa8fe;
}
.phai .col-sm-3:last-child {
    padding-right: 0;
}

.cuoi{
    padding: 15px 0;
    display: flex;
    background: url(image/goicosan/backgroundcuoi.png);
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.phaicuoi li {
    border: 0 !important;
    padding: 5px !important;
    list-style: square inside url("image/goicosan/black.png") !important;
    list-style-position: inside;
}
.traicuoi{
    display: flex !important;
    flex-wrap: wrap;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.traicuoi img{
    width: 93px;
    height: 70px;
}
.traicuoi .ghichucuoi{
    display: inline-block;
    padding: 3px 15px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    background: #fff;
    margin-top: 10px;
    border-radius: 15px;
}
q:before{
    content: none;
}
q:after{
    content: none;
}
q i.fa{
    margin-left: 5px;
}
.tieudetron q i.fa{
    margin-left: 2px;
}
.bodynendo_respon .col-xs-6{
    padding: 0;
}
.bodynendo_respon .col-sm-12{
    padding: 0;
}
.tieudenho.tieudequatang {
    height: 105px;
}
/*quy_kt*/
/*start media 1200px*/
/*------------------------------------------------------------------------------------------------------------------------*/
@media (min-width: 1200px) {
}
/*end media 1200px*/
/*------------------------------------------------------------------------------------------------------------------------*/

/*start media 1199px*/
/*------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 1199px) {
}
/*end media 1199px*/
/*------------------------------------------------------------------------------------------------------------------------*/

/*start media 993px - 1199px*/
/*------------------------------------------------------------------------------------------------------------------------*/
@media (min-width: 993px) and (max-width: 1199px) {
    .tieudetron{
        padding: 10px 0;
        font-size: 12px;
        margin-left: 10px;
    }
    .tieudetron > div{
        padding: 0 0px 0 10px;
    }
    .giagoiweb{
        font-size: 16px;
    }
    .tieudenho{
        padding: 13px 7px;
    }
    .tieudenho span.spanchui{
        padding: 0 0 0 5px;
        font-size: 12px;
    }
}
/*end media 993px - 1199px*/
/*------------------------------------------------------------------------------------------------------------------------*/

/*start media 992px*/
/*------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 992px) {
    .trai{
        display: none !important;
    }
    .phai{
        width: 100%;
    }
    .bodynendo_respon .visible-xs{
        display: block !important;
    }
    .bodynendo_respon{
        display: flex;
        border: 1px solid #ef5350;
    }
    .bodynendo_respon .visible-xs .tieudenho{
        padding: 10px 25px 10px 10px;
    }
    .tieudenho{
        padding: 10px 10px;
        border-right: 1px solid #ccc;
        height: 60px;
    }
    .tieudenho .backtrang_img{
        display: none;
    }
    .tieudenho q {
        position: absolute;
        right: 6px;
        top: 50%;
        margin-top: -10px;
    }
    q i.fa{
        margin-right: 0;
    }
    .tieudenho span.spanchui{
        padding: 0;
        font-size: 12px;
    }
    .bodynendo .tieudenho{
        border-right: 0;
        background: #f3f3f3;
    }
    .bodynendo .tieudenho:nth-child(2n) {
        background: #ececec;
    }
    .divkhiiconihover{
        width: 100%;
        right: 0;
    }
    span.textchucnang2_2{
        font-size: 12px;
    }
    .dangkyngay{
        border-top: 1px solid #ccc;
        border-right: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        background: #f3f3f3;
    }
    .bodynendo .dangkyngay{
        border-right: 0;
    }
    .dangkyngay{

    }
    .dangkyngay .backtrang_img{
        width: 25px;
        height: 25px;
    }
    .dangkyngay .backtrang_img img{
        width: 15px;
        height: 15px;
    }
    .dangkyngay span.spanchui{
        font-size: 15px;
    }
    .giagoiweb{
        margin-top: 0;
        padding-top: 0;
        padding-bottom: 15px;
    }
}
/*end media 992px*/
/*------------------------------------------------------------------------------------------------------------------------*/

/*start media 768px - 992px*/
/*------------------------------------------------------------------------------------------------------------------------*/
@media (min-width: 768px) and (max-width: 992px) {
}
/*start media 768px - 992px*/
/*------------------------------------------------------------------------------------------------------------------------*/

/*start media 767px*/
/*------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 767px) {
}
/*end media 767px*/
/*------------------------------------------------------------------------------------------------------------------------*/

/*start media 480px - 767px*/
/*------------------------------------------------------------------------------------------------------------------------*/
@media (min-width: 480px) and (max-width: 767px) {
}
/*end media 480px - 767px*/
/*------------------------------------------------------------------------------------------------------------------------*/

/*start media 479px*/
/*------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 479px) {
}
