<template>
     <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center auth">
          <div class="row flex-grow">
            <div class="col-lg-4 mx-auto">
              <div class="auth-form-light text-left p-5">
                <div class="brand-logo">
                  <img src="../../assets/images/logo.svg">
                </div>
                <h4>Xin Chào!</h4>
                <h6 class="font-weight-light">Bắt đầu đăng nhập.</h6>
                <form class="pt-3">
                  <div class="form-group">
                    <input type="text" class="form-control form-control-lg" v-model="objLogin.name" id="exampleInputEmail1" placeholder="Username">
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control form-control-lg" v-model="objLogin.password" id="exampleInputPassword1" placeholder="Password">
                  </div>
                  <div class="mt-3">
                    <a class="btn btn-block btn-gradient-primary btn-lg font-weight-medium auth-form-btn" @click="login" href="javascript:;">Đăng nhập</a>
                  </div>
                  <div class="my-2 d-flex justify-content-between align-items-center">
                    <div class="form-check">
                      <label class="form-check-label text-muted">
                        <input type="checkbox" class="form-check-input"> Lưu đăng nhập </label>
                    </div>
                    <a href="#" class="auth-link text-black">Quên mật khẩu</a>
                  </div>
                  <div class="text-center mt-4 font-weight-light"> Bạn chưa có tài khoản?
                    <router-link :to="{name:'register'}" class="text-primary">
                      Đăng ký ngay
                    </router-link>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
      </div>
</template>

<script>
    import axios from 'axios'
    import {mapActions} from 'vuex';
    export default{
        
        data(){
            return {
              objLogin:{
                name:'',
                password:''
              }
            }; 
        },
        methods:{
          ...mapActions(['retrieveToken','loadings']),
          login() {
                this.loadings(true);
                this.retrieveToken(this.objLogin).then((response) => {
                    this.loadings(false);
                    this.$router.push({name: 'home'});
                    window.location.reload();
                }).catch(error => {
                    this.loadings(false);
                    this.$error('Đăng nhập thất bại');
                })
            },
            // login(){
            //     this.loadings(true);
            //     this.retrieveToken({
            //         name:this.name,
            //         password:this.password
            //     }).then((response)=>{
            //         this.loadings(false);
            //         console.log(1)
            //         this.$router.push({name:'home'});
            //     }).catch((err) => {
            //       console.log(2)
            //         this.loadings(false);
            //         if (typeof err.response.data.errors !== "undefined" )
            //         {
            //             let field_err = Object.keys(err.response.data.errors)[0];
            //             this.$message(Object.values(err.response.data.errors)[0][0], 'error');
                        
            //         }else{
            //             this.$message(err.response.data.message, 'error');
            //         }
                    
            //     })
            // },

        },
        created(){
        }
    };
</script>