<template>
     <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center auth">
          <div class="row flex-grow">
            <div class="col-lg-6 mx-auto">
              <div class="auth-form-light text-left p-5">
                <div class="brand-logo">
                  <img src="../../assets/images/logo.svg">
                </div>
                <h4>Đăng ký tài khoản</h4>
                <!-- <h6 class="font-weight-light">Signing up is easy. It only takes a few steps</h6> -->
                <form class="pt-3">
                  <div class="form-group">
                    <label for="exampleSelectGender">Avatar</label>
                    <image-upload v-model="objData.avatar" type="avatar"></image-upload>
                    <div v-if="submitted && !$v.objData.avatar.required" class="noti-err">Ảnh không để trống</div>
                  </div>
                  <div class="form-group">
                    <label for="exampleSelectGender">Họ và tên</label>
                    <vs-input
                      class="w-100"
                      v-model="objData.name"
                      font-size="40px"
                    />
                    <div v-if="submitted && !$v.objData.name.required" class="noti-err">Nội dung không để trống</div>
                  </div>
                  <div class="form-group">
                    <label for="exampleSelectGender">Email</label>
                    <vs-input
                      class="w-100"
                      v-model="objData.email"
                      font-size="40px"
                    />
                    <div v-if="submitted && !$v.objData.email.required" class="noti-err">Nội dung không để trống</div>
                  </div>
                  <div class="form-group">
                    <label for="exampleSelectGender">Số điện thoại</label>
                    <vs-input
                      class="w-100"
                      v-model="objData.phone"
                      font-size="40px"
                    />
                    <div v-if="submitted && !$v.objData.phone.required" class="noti-err">Nội dung không để trống</div>
                  </div>
                  <div class="form-group">
                    <label for="exampleSelectGender">Địa chỉ</label>
                    <vs-input
                      class="w-100"
                      v-model="objData.address"
                      font-size="40px"
                    />
                    <div v-if="submitted && !$v.objData.address.required" class="noti-err">Nội dung không để trống</div>
                  </div>
                  <div class="form-group">
                    <label for="exampleSelectGender">Password</label>
                    <vs-input
                      class="w-100"
                      type="password"
                      v-model="objData.password"
                      font-size="40px"
                    />
                    <div v-if="submitted && !$v.objData.password.required" class="noti-err">Nội dung không để trống</div>
                  </div>
                  <div class="mt-3">
                    <a class="btn btn-block btn-gradient-primary btn-lg font-weight-medium auth-form-btn" href="javascript:;" @click="register">Đăng ký</a>
                  </div>
                  <div class="text-center mt-4 font-weight-light"> Bạn đã có tài khoản?
                    <router-link :to="{name:'login'}" class="text-primary">
                      Login
                    </router-link>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
      </div>
</template>

<script>
    import axios from 'axios'
    import { required } from "vuelidate/lib/validators";
    export default{
        data(){
            return {
                objData: {
                  avatar: "",
                  name:"",
                  phone:"",
                  address:"",
                  email:"",
                  password:""
                },
                submitted:false
            };
        },
        validations: {
          objData: {
              name: { required },
              avatar: { required },
              email: { required },
              phone: { required },
              address: { required },
              password: {required}
            }
        },
        methods:{
           register(){
            this.submitted = true;
            this.$v.$touch();
            if (this.$v.$invalid) {
              return;
            }else{}
                this.$store.dispatch("loadings",true);
                this.$store.dispatch('register',this.objData)
                .then((response)=>{
                    this.$store.dispatch("loadings",false);
                    this.$success('Đăng ký thành viên');
                    this.$router.push({name:'login'});
                }).catch((err) => {
                    this.$store.dispatch("loadings",false);
                    if (typeof err.response.data.errors !== "undefined" )
                    {
                        let field_err = Object.keys(err.response.data.errors)[0];
                        this.$message(Object.values(err.response.data.errors)[0][0], 'error');
                        
                    }else{
                        this.$message(err.response.data.message, 'error');
                    }
                    
                })
           }
        }
    };
</script>