<template>
  <!-- partial -->
  <div class="main-panel">
    <div class="content-wrapper">
      <div class="page-header">
        <h3 class="page-title">
          <span class="page-title-icon bg-gradient-primary text-white mr-2">
            <i class="mdi mdi-home"></i>
          </span> Dashboard
        </h3>
        <nav aria-label="breadcrumb">
          <ul class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">
              <span></span>Overview
              <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
            </li>
          </ul>
        </nav>
      </div>
      <StatiscalHeader />
      <ChartAndProduct />
      <Overview />
    </div>
    <!-- content-wrapper ends -->
  </div>
  <!-- main-panel ends -->
</template>


<script>
import { mapActions } from "vuex";
import StatiscalHeader from "../components/layouts/home/statistical_header";
import ChartAndProduct from "../components/layouts/home/chart_and_product"
import Overview from "../components/layouts/home/overview";

export default {
  data() {
    return {
      pickerOptions: {
        shortcuts: [
          {
            text: "1 tuần trước",
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
              picker.$emit("pick", [start, end]);
            }
          },
          {
            text: "1 tháng trước",
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
              picker.$emit("pick", [start, end]);
            }
          },
          {
            text: "3 tháng trước",
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
              picker.$emit("pick", [start, end]);
            }
          }
        ]
      }
    };
  },
  components: {
    StatiscalHeader,
	Overview,
	ChartAndProduct
  },
  mounted() {},
  methods: {}
};
</script>
<style >
.text-successa {
  color: #78797970 !important;
  font-size: 150px;
}

.dot-total-price {
  display: inline-block;
  margin-right: 8px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #7cb5ec;
}
span#order-total-price {
  font-weight: 500;
  color: #7cb5ec;
}
.area-nodata {
  text-align: center;
}
.el-date-editor {
  margin-bottom: 5%;
}
</style>