<template>
  <div class="main-panel">
    <div class="content-wrapper">
      <div class="page-header">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">Danh mục sản phẩm</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Sửa</li>
          </ol>
        </nav>
      </div>
      <div class="row">
        <div class="col-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-md-3"><h4 class="card-title">Sửa danh mục sản phẩm</h4></div>
                <div class="col-md-6"></div>
                <div class="col-md-3">
                  <vs-select
                class="selectExample"
                v-model="objData.language"
                placeholder="Ngôn ngữ bài viết"
                @change="changeLanguage($event)"
                >
                <vs-select-item :key="index" :value="item.code" :text="item.name" v-for="item,index in lang" />
              </vs-select></div>
              </div>
              
              
              <!-- <p class="card-description">Basic form elements</p> -->
              <form class="forms-sample">
                <div class="form-group">
                  <vs-input
                    class="w-100"
                    v-model="objData.name"
                    :class="{ 'is-invalid': submitted && $v.objData.name.$error }"
                    font-size="40px"
                    label-placeholder="Tên danh mục"
                  />
                  <div
                    v-if="submitted && !$v.objData.name.required"
                    class="noti-err"
                  >Tên không để trống</div>
                </div>
                <div class="form-group">
                  <vs-input
                    class="w-100"
                    v-model="objData.path"
                    font-size="40px"
                    label-placeholder="Link"
                    :class="{'is-invalid': submitted && $v.objData.path.$error}"
                  />
                  <div
                    v-if="submitted && !$v.objData.path.required"
                    class="noti-err"
                  >Link không để trống</div>
                </div>
                <div class="form-group">
                  <label for="exampleSelectGender">Avatar</label>
                  <image-upload v-model="objData.avatar" type="avatar"></image-upload>
                </div>
                <div class="form-group">
                  <label for="exampleInputName1">Trạng thái</label>
                  <vs-switch v-model="objData.status">
                    <span slot="on">Hiện</span>
                    <span slot="off">Ẩn</span>
                  </vs-switch>
                </div>
                <vs-button
                    color="success"
                    type="gradient"
                    class="mr-left-45"
                    @click="saveEdit()"
                    >Lưu lại</vs-button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- content-wrapper ends -->
  </div>
</template>

<script>
import { mapActions } from "vuex";
import { required } from "vuelidate/lib/validators";
export default {
  data() {
    return {
      objData: {
        language:this.$route.params.language,
        quiz_id:this.$route.params.quiz_cate,
        name: "",
        path: "",
        avatar: "",
        status: "",
      },
      lang:[],
      img: "",
      submitted: false
    };
  },
  validations: {
    objData: {
      name: { required },
      path: { required }
    }
  },
  methods: {
    ...mapActions(["getInfoCate","saveCategory","listLanguage", "loadings"]),
    nameImage(event) {
      this.objData.avatar = event;
    },
    saveEdit() {
      this.submitted = true;
      this.$v.$touch();
      if (this.$v.$invalid) {
        return;
      } else {
        this.loadings(true);
        this.saveCategory(this.objData)
        .then(response => {
            this.loadings(false);
            this.$success('Sửa danh mục thành công');
            this.$emit("closePopup", false);
          })
          .catch(error => {
            this.loadings(false);
            this.$error('Sửa danh mục thất bại');
          });
      }
    },
    listLang(){
      this.listLanguage().then(response => {
        this.loadings(false);
        this.lang  = response.data
      }).catch(error => {

      })
    },
    getInfoCates(){
      this.loadings(true);
      this.getInfoCate(this.objData).then(response => {
        this.loadings(false);
        if(response.data == null){
          this.objData ={
            language:this.objData.language,
            quiz_id:this.$route.params.quiz_cate,
            name: "",
            path: "",
            avatar: "",
            status: "",
          }
        }else{
          this.objData = response.data;
        }
      }).catch(error => {
        console.log(12);
      });
    },
    changeLanguage(data){
      this.getInfoCates();
    }
  },
  mounted() {
    this.loadings(true);
    this.getInfoCates();
    this.listLang();
  }
};
</script>

<style>
</style>