<template>
  <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
    <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
      <router-link :to="{name:'home'}" class="navbar-brand brand-logo">
        <img src="../../assets/images/cresa.png" alt="logo" />
      </router-link>
      <router-link :to="{name:'home'}" class="navbar-brand brand-logo-mini">
        <img src="../../assets/images/mini-logo.png" alt="logo" />
      </router-link>
    </div>
    <div class="navbar-menu-wrapper d-flex align-items-stretch">
      <button
        class="navbar-toggler navbar-toggler align-self-center"
        type="button"
        data-toggle="minimize"
      >
        <span class="mdi mdi-menu"></span>
      </button>
      <FormSearch />
      <ul class="navbar-nav navbar-nav-right">
        <li class="nav-item nav-profile dropdown">
          <a
            class="nav-link dropdown-toggle"
            id="profileDropdown"
            href="#"
            data-toggle="dropdown"
            aria-expanded="false"
          >
            <div class="nav-profile-img">
              <!-- <img v-if="user.avatar == null" src="../../assets/images/no-photo.png" alt="image" />
              <img v-else :src="user.avatar" alt="image" /> -->
              <span class="availability-status online"></span>
            </div>
            <div class="nav-profile-text">
              <p class="mb-1 text-black"><!-- {{user.name}} --></p>
            </div>
          </a>
          <div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">
            <a class="dropdown-item" href="#">
              <i class="mdi mdi-cached mr-2 text-success"></i> Activity Log
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="javascript:;" @click="logout">
              <i class="mdi mdi-logout mr-2 text-primary"></i> Đăng xuất
            </a>
          </div>
        </li>
        <li class="nav-item d-none d-lg-block full-screen-link">
          <a class="nav-link">
            <i class="mdi mdi-fullscreen" id="fullscreen-button"></i>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link count-indicator dropdown-toggle"
            id="messageDropdown"
            href="#"
            data-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="mdi mdi-email-outline"></i>
            <span class="count-symbol bg-warning"></span>
          </a>
          <div
            class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
            aria-labelledby="messageDropdown"
          >
            <h6 class="p-3 mb-0">Messages</h6>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item preview-item">
              <div class="preview-thumbnail">
                <img src="../../assets/images/faces/face4.jpg" alt="image" class="profile-pic" />
              </div>
              <div
                class="preview-item-content d-flex align-items-start flex-column justify-content-center"
              >
                <h6 class="preview-subject ellipsis mb-1 font-weight-normal">Mark send you a message</h6>
                <p class="text-gray mb-0">1 Minutes ago</p>
              </div>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item preview-item">
              <div class="preview-thumbnail">
                <img src="../../assets/images/faces/face2.jpg" alt="image" class="profile-pic" />
              </div>
              <div
                class="preview-item-content d-flex align-items-start flex-column justify-content-center"
              >
                <h6
                  class="preview-subject ellipsis mb-1 font-weight-normal"
                >Cregh send you a message</h6>
                <p class="text-gray mb-0">15 Minutes ago</p>
              </div>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item preview-item">
              <div class="preview-thumbnail">
                <img src="../../assets/images/faces/face3.jpg" alt="image" class="profile-pic" />
              </div>
              <div
                class="preview-item-content d-flex align-items-start flex-column justify-content-center"
              >
                <h6 class="preview-subject ellipsis mb-1 font-weight-normal">Profile picture updated</h6>
                <p class="text-gray mb-0">18 Minutes ago</p>
              </div>
            </a>
            <div class="dropdown-divider"></div>
            <h6 class="p-3 mb-0 text-center">4 new messages</h6>
          </div>
        </li>
        <Notify :unread="unread" :userId="profile_user.id" v-if="profile_user.id" />
        <li class="nav-item nav-logout d-none d-lg-block" @click="logout">
            <a class="nav-link" href="#" title="Đăng xuất">
              <i class="mdi mdi-power"></i>
            </a>
        </li>
        <li class="nav-item nav-settings d-none d-lg-block">
          <a class="nav-link" href="#">
            <i class="mdi mdi-format-line-spacing"></i>
          </a>
        </li>
      </ul>
      <button
        class="navbar-toggler navbar-toggler-right d-lg-none align-self-center"
        type="button"
        data-toggle="offcanvas"
      >
        <span class="mdi mdi-menu"></span>
      </button>
    </div>
  </nav>
</template>

<script>
// import UserInfor from '../../mixin/userInfo'
import Notify from '../../components/layouts/notification.vue'
import FormSearch from '../layouts/navbar/search'
import {mapActions} from 'vuex'
export default {
  // mixins: [ UserInfor ],
  data() {
    return {
      unread:[],
      profile_user:{},
    };
  },
  components: {
    Notify, FormSearch
  },
  watch: {
      
  },
  watch: {},
  methods: {
    ...mapActions(['destroyToken','loadings','getNotification','profileUserCms']),
    logout() {
      this.loadings(true);
      this.destroyToken().then(response => {
        this.loadings(false)
        this.$router.push({ name: "login" })
      }).catch(error => {
        this.loadings(false);
        this.$router.push({ name: "login" })
        this.$error('Đăng nhập thất bại');
      })
    },
    getNotifications(){
      this.getNotification().then(response => {
        this.unread = response
      })
    },
    profiles(){
      this.profileUserCms().then(response => {
        this.profile_user = response
      })
    }
  },
  mounted() {
    this.getNotifications();
    this.profiles();
  }
};
</script>