<template>
  <nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <li class="nav-item nav-profile">
        <a href="#" class="nav-link">
          <div class="nav-profile-image">
            <!-- <img v-if="user.avatar == null" src="../../assets/images/no-photo.png" alt="image" />
            <img v-else :src="user.avatar" alt="image" /> -->
            <span class="login-status online"></span>
            <!--change to offline or busy as needed-->
          </div>
          <div class="nav-profile-text d-flex flex-column">
            <!-- <span class="font-weight-bold mb-2">{{user.name}}</span>
            <span class="text-secondary text-small" v-if="user.type == 0 ">Quản trị viên</span>
            <span class="text-secondary text-small" v-if="user.type == 1 ">Thành viên</span> -->
          </div>
          <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
        </a>
      </li>

      <li class="nav-item" v-for="(i, key) in objSidebar" :key="'side'+key">
        <div v-if="i.sub.length == 0 ">
          <router-link class="nav-link" :to="{ name: i.route_name}">
            <span class="menu-title">{{i.name}}</span>
            <i :class="i.icon"></i>
          </router-link>
        </div>
        <div v-else>
          <a
            class="nav-link"
            data-toggle="collapse"
            :href="'#ui-basic'+key"
            aria-expanded="false"
            aria-controls="ui-basic"
          >
            <span class="menu-title">{{i.name}}</span>
            <i class="menu-arrow"></i>
            <i :class="i.icon"></i>
          </a>
        </div>
        <div class="collapse" :id="'ui-basic'+key" v-if="i.sub.length > 0 ">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item" v-for="(item, key) in i.sub" :key="'sub'+key">
              <router-link class="nav-link" :to="{name:item.route_name}">{{item.name}}</router-link>
            </li>
          </ul>
        </div>
      </li>

      <li class="nav-item sidebar-actions">
        <span class="nav-link">
          <div class="border-bottom">
            <h6 class="font-weight-normal mb-3">Projects</h6>
          </div>
          <button class="btn btn-block btn-lg btn-gradient-primary mt-4">Cảm ơn !</button>
        </span>
      </li>
    </ul>
  </nav>
</template>

<script>
// import UserInfor from '../../mixin/userInfo'
export default {
  // mixins: [ UserInfor ],
  data() {
    return {
      objSidebar: [
        {
          icon: "mdi mdi-home menu-icon",
          name: "Dashboard",
          route_name: "home",
          sub: []
        },
        {
          icon: "mdi mdi-crosshairs-gps menu-icon",
          name: "Sản phẩm",
          route_name: "",
          sub: [
            {
              name: "Danh sách sản phẩm",
              route_name: "listProduct"
            },
            {
              name: "Danh mục sản phẩm",
              route_name: "list_category"
            },
            {
              name: "Quản lý kho",
              route_name: ""
            }
          ]
        },
        {
          icon: "mdi mdi-newspaper menu-icon",
          name: "Tin Tức",
          route_name: "",
          sub: [
            {
              name: "Danh sách tin tức",
              route_name: "listBlogs"
            },
            {
              name: "Danh mục tin tức",
              route_name: "listCateBlog"
            }
          ]
        },
        {
          icon: "mdi mdi-account-multiple menu-icon",
          name: "Quản lý khách hàng",
          route_name: "customer",
          sub: []
        },
        {
          icon: "mdi mdi-shopping-music menu-icon",
          name: "Quản lý đơn hàng",
          route_name: "",
          sub: [
            {
              name: "Đơn hàng đã thanh toán",
              route_name: "billPaymented"
            },
            {
              name: "Đơn hàng nháp",
              route_name: "billDraft"
            },
            {
              name: "Đơn hàng chưa hoàn tất",
              route_name: "billUnPayment"
            }
          ]
        },
        {
          icon: "mdi mdi-marker menu-icon",
          name: "Ngôn Ngữ",
          route_name: "",
          sub: [
            {
              name: "Quản lý ngôn ngữ",
              route_name: "language"
            },
            {
              name: "Quản lý từ khóa",
              route_name: "languageKeyword"
            }
          ]
        },
        {
          icon: "mdi mdi-marker menu-icon",
          name: "Trang nội dung",
          route_name: "",
          sub: [
            {
              name: "Danh sách",
              route_name: "pageContent"
            },
            {
              name: "Thêm mới",
              route_name: "pageContentAdd"
            }
          ]
        },
        {
          icon: "mdi mdi-file-image menu-icon",
          name: "Website",
          route_name: "",
          sub: [
            {
              name: "Quản lý banner",
              route_name: "banner"
            },
            {
              name: "Quản lý đối tác",
              route_name: "partner"
            },
            {
              name: "Quản lý giải thưởng",
              route_name: "prize"
            },
            {
              name: "Cài đặt chung",
              route_name: "setting"
            }
          ]
        },
      ]
    };
  }
};
</script>
<style>
</style>